extends base

block content 
  form(method="POST")
    input(type="text", required, placeholder="Name", name="name")
    input(type="email", required, placeholder="Email", name="email")
    input(type="text", required, placeholder="Username", name="username")
    input(type="password", required, placeholder="Password", name="password")
    input(type="text", required, placeholder="Location", name="location")
    input(type="submit", value="Join")
 
